<b-row class="mt-1">
  <b-col></b-col>
  <b-col cols="6">
    <b-card header="Cadastro de abelha" header-class="text-center">
      <loading :active.sync="loading" :is-full-page="false"></loading>
      <b-row>
        <b-col></b-col>
        <b-col cols="4">
          <b-form>
            <b-form-group label="Código">
              <b-form-input size="sm" name="código" v-model="abelha.codigo" v-validate.initial="'required'"
                  :class="{ 'is-invalid': errors.has('código'), 'is-valid': !errors.has('código') }"></b-form-input>
              <div class="invalid-feedback" v-show="errors.has('código')">
                [[ errors.first('código') ]]
              </div>
            </b-form-group>

            <b-form-group label="Número">
              <b-form-input size="sm" name="número" v-model="abelha.numero" v-validate.initial="'required'"
                  :class="{'is-invalid': errors.has('número'), 'is-valid': !errors.has('número') }"></b-form-input>
              <div class="invalid-feedback">
                [[ errors.first('número') ]]
              </div>
            </b-form-group>

            <b-form-group label="Espécie">
              <b-input-group>
                <b-input size="sm" name="espécie" v-model="abelha.especie_data.nome" v-validate.initial="'required'"
                  :class="{'is-invalid': errors.has('espécie'), 'is-valid': !errors.has('espécie') }" readonly></b-input>
                <b-input-group-append>
                  <b-button size="sm" @click="abrirModalEspecie">
                    <i class="fas fa-search"></i>
                  </b-button>
                </b-input-group-append>
                <div class="invalid-feedback">
                  [[ errors.first('espécie') ]]
                </div>
              </b-input-group>
            </b-form-group>

            <b-form-group label="Tipo">
              <b-input-group>
                <b-input size="sm" name="tipo" v-model="abelha.tipo_data.nome" v-validate.initial="'required'"
                  :class="{'is-invalid': errors.has('tipo'), 'is-valid': !errors.has('tipo')}" readonly></b-input>
                <b-input-group-append>
                  <b-button size="sm" @click="abrirModalTipo">
                    <i class="fas fa-search"></i>
                  </b-button>
                </b-input-group-append>
                <div class="invalid-feedback">
                  [[ errors.first('tipo') ]]
                </div>
              </b-input-group>
            </b-form-group>

            <b-form-group label="País">
              <b-input-group>
                <b-input size="sm" name="pais" v-model="abelha.pais_data.nome" v-validate.initial="'required'"
                  :class="{'is-invalid': errors.has('pais'), 'is-valid': !errors.has('pais')}" readonly></b-input>
                <b-input-group-append>
                  <b-button size="sm" @click="abrirModalPais">
                    <i class="fas fa-search"></i>
                  </b-button>
                </b-input-group-append>
                <div class="invalid-feedback">
                  [[ errors.first('pais') ]]
                </div>
              </b-input-group>
            </b-form-group>
            
            <b-button size="sm" class="btn btn-primary btn-block" :disabled="errors.any()" @click="cadastrarAbelha">
              <i class="fas fa-save"></i> Cadastrar
            </b-button>
          </b-form>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-card>
  </b-col>
  <b-col></b-col>

  <b-modal size="lg" title="Listagem de Espécies" v-model="mostrarModalEspecie" no-close-on-backdrop>
    <div class="float-right">
      <b-form @submit.prevent="paginarAbelhasEspecie(1)">
        <b-input-group>
          <b-form-input size="sm" v-model="especieSearch" placeholder="buscar..."
            @focus="$event.target.select()"></b-form-input>
          <b-input-group-append>
            <b-button size="sm" @click="paginarAbelhasEspecie(1)">
              <i class="fa fa-search"></i>
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form>
    </div>
    <p><small>Clique na linha da tabela para selecioná-la</small></p>
    <b-table :items="especies.results" :fields="especieFields" select-mode="single"
        @row-selected="selecionarEspecie" selectable striped bordered hover small></b-table>
    <b-pagination size="sm" align="center" v-model="especiePage" :per-page="especiePageSize" :total-rows="especies.count"
        @change="paginarAbelhasEspecie"></b-pagination>
    <template slot="modal-footer">
      <b-button size="sm" variant="primary" @click="mostrarModalEspecie=false">
        <i class="fas fa-times"></i> fechar
      </b-button>
    </template>
  </b-modal>

  <b-modal size="lg" title="Listagem de Tipos" v-model="mostrarModalTipo" no-close-on-backdrop>
    <div class="float-right">
      <b-form @submit.prevent="paginarAbelhasTipo(1)">
        <b-input-group>
          <b-form-input size="sm" v-model="tipoSearch" placeholder="buscar..."
            @focus="$event.target.select()"></b-form-input>
          <b-input-group-append>
            <b-button size="sm" @click="paginarAbelhasTipo(1)">
              <i class="fa fa-search"></i>
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form>
    </div>
    <p><small>Clique na linha da tabela para selecioná-la</small></p>
    <b-table :items="tipos.results" :fields="tipoFields" select-mode="single"
        @row-selected="selecionarTipo" selectable striped bordered hover small></b-table>
    <b-pagination size="sm" align="center" v-model="tipoPage" :per-page="tipoPageSize" :total-rows="tipos.count"
        @change="paginarAbelhasTipo"></b-pagination>
    <template slot="modal-footer">
      <b-button size="sm" variant="primary" @click="mostrarModalTipo=false">
        <i class="fas fa-times"></i> fechar
      </b-button>
    </template>
  </b-modal>

  <b-modal size="lg" title="Listagem de Países" v-model="mostrarModalPais" no-close-on-backdrop>
    <div class="float-right">
      <b-form @submit.prevent="paginarAbelhasPais(1)">
        <b-input-group>
          <b-form-input size="sm" v-model="paisSearch" placeholder="buscar..."
            @focus="$event.target.select()"></b-form-input>
          <b-input-group-append>
            <b-button size="sm" @click="paginarAbelhasPais(1)">
              <i class="fa fa-search"></i>
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form>
    </div>
    <p><small>Clique na linha da tabela para selecioná-la</small></p>
    <b-table :items="paises.results" :fields="paisFields" select-mode="single"
        @row-selected="selecionarPais" selectable striped bordered hover small></b-table>
    <b-pagination size="sm" align="center" v-model="paisPage" :per-page="paisPageSize" :total-rows="paises.count"
        @change="paginarAbelhasPais"></b-pagination>
    <template slot="modal-footer">
      <b-button size="sm" variant="primary" @click="mostrarModalPais=false">
        <i class="fas fa-times"></i> fechar
      </b-button>
    </template>
  </b-modal>
</b-row>
