<b-row class="mt-1">
  <b-col></b-col>
  <b-col cols="6">
    <b-card no-body>
      <b-tabs card>
        <b-tab title="Início">
          <p>Total de Registros: [[ abelhas.count ]]</p>
          <hr>
          <div v-show="abelhas.count > 0">
            <b-table :items="abelhas.results" :fields="abelhasFields" small bordered hover>
              <template slot="especie_data" slot-scope="{ item }">
                [[ item.especie_data.nome ]]
              </template>
              <template slot="tipo_data" slot-scope="{ item }">
                [[ item.tipo_data.nome ]]
              </template>
              <template slot="pais_data" slot-scope="{ item }">
                [[ item.pais_data.nome ]]
              </template>
            </b-table>
            <b-pagination size="sm" align="center" v-model="page" :per-page="pageSizeAbelhas"
              :total-rows="abelhas.count" @change="paginarAbelhas"></b-pagination>
          </div>
          <div v-show="abelhas.count === 0">
            <h5>Sem registros</h5>
          </div>
        </b-tab>

        <template slot="tabs">
          <div class="ml-auto">
            <b-form @submit.prevent="paginarAbelhas(1)">
              <b-input-group>
                <b-form-input size="sm" v-model="searchAbelhas" placeholder="buscar..."
                  @focus="$event.target.select()"></b-form-input>
                <b-input-group-append>
                  <b-button size="sm" @click="paginarAbelhas(1)">
                    <i class="fa fa-search"></i>
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form>
          </div>
        </template>
      </b-tabs>
    </b-card>
  </b-col>
  <b-col></b-col>
</b-row>
