{% extends 'base.html' %}

{% block title %}Ativação de conta{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center" style="height: 100vh">
      <div class="col"></div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">Ativação de conta</div>
          
          <div class="card-body">
            <p>Sua conta foi ativada com sucesso. Agora você pode fazer login em nosso site.</p>
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">
              <i class="fas fa-sign-in-alt"></i> Login
            </a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock body %}
