{% extends 'base.html' %}{% load render_field from widget_tweaks %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row align-items-center" style="height: 100vh">
    <div class="col"></div>
    <div class="col-4">
        {% if form.non_field_errors %}
          <div class="alert alert-warning">
            {{ form.non_field_errors.0 }}
          </div>
        {% endif %}
        <div class="card">
          <div class="card-header">Login</div>
          <div class="card-body">
            <form action="{% url 'account_login' %}" method="post">{% csrf_token %}
              <div class="form-group">
                <label for="id_username">Usuário</label>
                {% render_field form.login class="form-control form-control-sm" placeholder="Nome de usuário ou e-mail" autofocus="autofocus" %}
              </div>

              <div class="form-group">
                <label for="id_password">Senha</label>
                {% render_field form.password class="form-control form-control-sm" placeholder="Senha" %}
              </div>

              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value | default:'/' }}" />

              <div class="checkbox clearfix">
                <label class="float-right">
                  {{ form.remember }} Lembrar
                </label>
              </div>
              <hr/>

              <button type="submit" class="btn btn-primary btn-sm float-right" id="id_login_button">
                <i class="fas fa-sign-in-alt"></i> Login
              </button>
            </form>

            <a href="{% url 'account_reset_password' %}">Esqueci minha senha</a><br>
            <a href="{% url 'account_signup' %}">Registrar</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock %}
