{% extends 'base.html' %}

{% block title %}Resetar senha{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center" style="height: 100vh">
      <div class="col"></div>
      <div class="col-4 col-md-6">
        <div class="card">
          <div class="card-header">Reset de Senha</div>
          
          <div class="card-body">
            <p>Sua senha foi alterada com sucesso.</p>
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">
              <i class="fas fa-sign-in-alt"></i> Login
            </a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock body %}
