{% extends 'base.html' %}
{% block title %}Resetar senha{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center" style="height: 100vh">
      <div class="col"></div>
      <div class="col-4 col-md-6">
        <div class="card">
          <div class="card-header">Resetar Senha</div>
          
          <div class="card-body">
            <p>Entre com seu email de registro no campo a seguir para iniciar o processo de <i>reset</i> sua senha.</p>
            <form action="{% url 'account_reset_password' %}" method="post">{% csrf_token %}
              <div class="form-group">
                <input type="email" name="email" class="form-control form-control-sm{% if form.email.errors %} is-invalid{% endif %}"
                    placeholder="Endereço de e-mail" {% if form.email.value %}value="{{ form.email.value }}"{% endif %} required>
                {% if form.email.errors %}
                  <div class="invalid-feedback">{{ form.email.errors.0 }}</div>
                {% endif %}
              </div>
      
              <button type="submit" class="btn btn-primary btn-block">
                <i class="fas fa-redo"></i> Resetar Senha
              </button>

              <div class="text-center mt-3">
                <a href="/">Home</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock body %}
