{% extends 'base.html' %}{% load render_field from widget_tweaks %}

{% block title %}Resetar Senha{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center" style="height: 100vh">
      <div class="col"></div>
      <div class="col-4 col-md-6">
        <div class="card">
          <div class="card-header">Resetar Senha</div>
          
          <div class="card-body">
            {% if token_fail %}
              <p>
                Infelizmente não será possível resetar sua senha. Talvez ela já tenha sido resetada, ou o <i>link</i> utilizado para acessar esta página seja inválido. 
                Se preferir, solicite outro reset de senha clicando <a href="{% url 'account_reset_password' %}">aqui</a>. 
              </p>
              <a href="/" class="btn btn-primary btn-block">
                <i class="fas fa-home"></i> Home
              </a>
            {% else %}
              <form action="" method="post">{% csrf_token %}
                <div class="form-group">
                  <label>Senha</label>
                  <input type="password" name="password1" class="form-control form-control-sm{% if form.password1.errors %} is-invalid{% endif %}"
                      placeholder="Nova Senha" autofocus required>
                  {% if form.password1.errors %}
                    <div class="invalid-feedback">{{ form.password1.errors.0 }}</div>
                  {% endif %}
                </div>

                <div class="form-group">
                  <label>Confirmar Senha</label>
                  <input type="password" name="password2" class="form-control form-control-sm{% if form.password2.errors %} is-invalid{% endif %}"
                      placeholder="Nova Senha (confirmar)" required>
                  {% if form.password2.errors %}
                    <div class="invalid-feedback">{{ form.password2.errors.0 }}</div>
                  {% endif %}
                </div>
    
                <button type="submit" class="btn btn-primary btn-block">
                  <i class="fas fa-sync"></i> Resetar Senha
                </button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock body %}
