{% extends "base.html" %}{% load static widget_tweaks %}

{% block title %}Resetar senha{% endblock title %}

{% block body %}
<div class="container-fluid">
  <div class="row align-items-center" style="height: 100vh">
    <div class="col"></div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          Resetar Senha
        </div>
        <div class="card-body">
          {% if token_fail %}
            <p>
              Infelizmente não foi possível resetar sua senha. Talvez ela já tenha sido resetada, ou o 
              link utilizado esteja inválido. Se preferir, solicite outro reset de senha clicando <a href="{%  url 'account_reset_password' %}">aqui</a>. 
            </p>
            <a href="/" class="btn btn-primary btn-block">
              <i class="fa fa-home"></i> Home
            </a>
          {% else %}
            <form class="{% if form.errors %}was-validated{% endif %}" action="{{ action_url }}"
                method="post" novalidate>{% csrf_token %}
                <p>Entre com sua nova senha nos campos a seguir.</p>
                <div class="form-group">
                  {% render_field form.password1 class="form-control" autofocus="autofocus" %}
      
                  {% if form.password1.errors %}
                    <div class="invalid-feedback">
                      {{ form.password1.errors.0 }}
                    </div>
                  {% endif %}
                </div>
                <div class="form-group">
                  {% render_field form.password2 class="form-control" %}
      
                  {% if form.password2.errors %}
                    <div class="invalid-feedback">
                      {{ form.password2.errors.0 }}
                    </div>
                  {% endif %}
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  <i class="fa fa-redo"></i> Resetar Senha
                </button>
                <div class="text-center text-muted mt-3">
                  <a href="/">Home</a>
                </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock body %}
