{% extends 'base.html' %}

{% block title %}Resetar Senha{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center" style="height: 100vh">
      <div class="col"></div>
      <div class="col-4 col-md-6">
        <div class="card">
          <div class="card-header">Resetar Senha</div>
          
          <div class="card-body">
            <p>Um email foi enviado contendo informações para completar o processo de <i>reset</i> de sua senha.</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock body %}
