{% extends 'base.html' %}
{% block title %}Registro suspenso{% endblock %}

{% block body %}
  <div class="login-box">
    <div class="login-box-body">
      <p class="login-box-msg">Registros de novas contas temporariamente suspenso.</p>
        
      <div class="alert alert-danger">
        O serviço para incluir novas contas está temporariamente
        fechado. Pedimos desculpas pelo inconveniente. Para mais detalhes, entre em contato com a administração. Obrigado.
      </div>
      <hr/>
      <a href="{% url 'account_login' %}">Login</a>
    </div>
  </div>
{% endblock %}
