{% extends 'base.html' %}
{% block title %}Registrar{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center" style="height: 100vh">
      <div class="col"></div>
      <div class="col-4 col-md-6">
        <div class="card">
          <div class="card-header">Novo Registro</div>
          
          <div class="card-body">
            <form action="{% url 'account_signup' %}" method="post">{% csrf_token %}
              <div class="form-group">
                <label>Usuário</label>
                <input type="text" name="username" class="form-control form-control-sm{% if form.username.errors %} is-invalid{% endif %}"
                  placeholder="Nome de usuário ou endereço de e-mail" {% if form.username.value %}value="{{ form.username.value }}"{% endif %} 
                  autofocus required>
                {% if form.username.errors %}
                  <div class="invalid-feedback">{{ form.username.errors.0 }}</div>
                {% endif %}
              </div>

              <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" class="form-control form-control-sm{% if form.email.errors %} is-invalid{% endif %}"
                  placeholder="Endereço de e-mail" {% if form.email.value %}value="{{ form.email.value }}"{% endif %} 
                  required>
                {% if form.email.errors %}
                  <div class="invalid-feedback">{{ form.email.errors.0 }}</div>
                {% endif %}
              </div>

              <div class="form-group">
                <label>Senha</label>
                <input type="password" name="password1" class="form-control form-control-sm {% if form.password1.errors %} is-invalid{% endif %}"
                  placeholder="Senha" required>
                {% if form.password1.errors %}
                  <div class="invalid-feedback">{{ form.password1.errors.0 }}</div>
                {% endif %}
              </div>

              <div class="form-group">
                <label>Confirmar Senha</label>
                <input type="password" name="password2" class="form-control form-control-sm {% if form.password2.errors %} is-invalid{% endif %}"
                  placeholder="Senha (novamente)" required>
                {% if form.password2.errors %}
                  <div class="invalid-feedback">{{ form.password2.errors.0 }}</div>
                {% endif %}
              </div>

              <button submit type="submit" class="btn btn-primary btn-block">
                <i class="fas fa-user-plus"></i> Registrar
              </button>

              <div class="text-center mt-3">
                <a href="{% url 'account_login' %}">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock %}
